@{
    ViewData["Title"] = "Home Page";
}

<div id="aquarium" style="position: absolute; width: 500px; height: 500px; background-color: cornflowerblue">
    
</div>

<button onclick="fetch('https://localhost:7214/Fishes/AddTaskFish')" style="position: absolute; left: 1000px; top: 200px">Add task fish</button>
<button onclick="fetch('https://localhost:7214/Fishes/AddThreadFish')" style="position: absolute; left: 1000px; top: 250px">Add thread fish</button>

<script src="~/js/fishes.js"></script>